{{=<% %>=}}

<ion-card>
    <ion-card-header>
        <% quote.genre %>
    </ion-card-header>

    <ion-card-content>
        <% quote.text %>
    </ion-card-content>

    <ion-row padding>
        <ion-col text-right>
            <i><% quote.author %></i>
        </ion-col>
    </ion-row>
</ion-card>
